Vids/batman.the.killing.joke.2016.german.720p.bluray.x264-doucement.mkv
TMP/*
WordSlicer.tar.xz
movie_database.csv
fasf.webm
fasf1.webm
out.webm
error.log
word_database.json
video.html
__pycache__/project_movie_slicer4_support.cpython-35.pyc
*.pyc
error.log
